@font-face{
    font-family: 'Lato-bold', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato');
    font-weight: bold;
    font-style: normal;

}

@font-face{
    font-family: 'Lato-regular', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato');

}
@font-face{
    font-family: 'Lato-semibold', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato');

}

@font-face{
    font-family: 'Ramaraja', serif;
    src: url('https://fonts.googleapis.com/css?family=Ramaraja');
}

@font-face{
    font-family: 'Yrsa', serif;
    src: url('https://fonts.googleapis.com/css?family=Yrsa');
}

@font-face{
    font-family: 'Amiri', serif;
    src: url('https://fonts.googleapis.com/css?family=Amiri');
}

@font-face{
    font-family: "Myriad";
    src: url('http://www.anaveer.in/honda/font/MYRIADPRO-REGULAR.OTF') format("truetype");
}

/* todo Шрифты подключены не правильно, и соответсвенно не отображаются */
/* todo Исправить грубые ошибки в css: недопустиые значения свойств*/




.site{
    text-align:  center;
}

.background-HarryPotter{
    background: #f2fdff;
    text-align: center;
}

.mainmenu{
    z-index: 1100;
    vertical-align: top;
    padding: 15px 0 22px 0;
    width: 1140px;
    margin: 16px auto 115px auto;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato-bold', sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 5px rgb(190, 205, 208);
    /*background-attachment: fixed;*/
    background: #ffffff;
    position: fixed;
    left: 50%;
    margin-left: -570px;
  }

.mainmenu .lines{
    display: table-cell;
}

.logo{
    padding-left: 35px;
}

.icons{
    padding-right: 35px;
}

.mainmenu .icons a:not(:last-child){
    padding-right: 32px;

}

.menulist{
    vertical-align: middle;
    padding: 20px 42px 20px 85px;
}

.menulist a{
    padding-right: 47px;
}

.lines {
    display:inline-block;
}

a{
    text-decoration: none;
    color: black;
}

.right {
    float: left;
}

.text-coral {
    color: coral;
}

/* todo Убрать статически заданную ширину, при любом меньшем разрешении верстка ломается */
.wide-page {
    width: 1920px;
    margin: auto;
    padding: 0;
}

.narrow-page {
    width: 1140px;
    margin: auto;
    padding: 0;
}

.HarryPotter {
    margin-top: 220px;

}



/*
    /*width: 1140px;(1920)исплей тейбл сейл вертикал элайн (картинки лолжны иметь надписи при варианте невысвечивания adminite.io)

*/


.novelties-season{
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* popup-login*/



.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay.light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    width: 450px;
    z-index: 1000;
    padding: 0 25px 25px 0;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -230px;
    top: 210px;
    border: 0;
    box-shadow: 0;
}

.popup .content {
    overflow: hidden;
    padding: 52px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    width: 100%;
    background: #fff;
}

.popup .content:after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: -1;
    width: 115%;
    height: 96%;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: -50px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.popup .close:hover {
    opacity: 1;
}
.popup .content {
     overflow: auto;
}

.popup h2{
    font-family: 'Ramaraja', serif;
    font-size: 42px;
}

#email, #password{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #959ba1;
    width: 99%;
    padding: 30px 0 20px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #555963;
    outline:none;

}

.remember{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
    width: 99%;
    padding: 35px 0 0 0;
}

.remember .left{
    width: 49%;
    float: left;
    text-align: left;
}

.remember .right{
    width: 49%;
    text-align: right;
}

.clear{
    clear: both;
}

#Sing-in{
    font-family: 'Lato-semibold', sans-serif;
    font-size: 16px;
    color: #515357;
    font-weight: bold;
    border: 2px solid black;
    width: 179px;
    height: 42px;
    background: #ffffff;
    margin-top: 57px;
    margin-bottom: 90px;
}

.create{
    font-family: 'Lato-semibold', sans-serif;
    font-size: 16px;
    color: #45474b;
    border-bottom: 2px solid #555963;
    padding-bottom: 12px;


}

.create img{
    margin-left: 14px;
    width: 3%;
}

.social-networks{
    font-size: 21px;
    color: #555963;
    font-family: 'Ramaraja', serif;
    margin-top: 58px;
}
.social-networks p{
    margin-top: 14px;
}

.social-networks img{
    margin-left: 8px;
    margin-right: 8px;
}

/* end popup-login*/

/* start yourCardt*/
.your-cart{
    width: 1140px;
    margin: auto;
    padding: 0;
}

.your-cart h1{
    text-align: center;
    padding-top: 230px;
    color: #555963;
    font-size: 42px;
    font-family: 'Ramaraja', serif;
}
.your-cart h2{
    color: #555963;
    font-size: 28px;
    font-family: 'Ramaraja', serif;
}

.gender{
    color: #45474b;
    font-size: 21px;
    font-family: 'Ramaraja', serif;
}
.gen-man, .gen-woman{
    color: #45474b;
    font-size: 16px;
    font-family: 'Lato-regular', sans-serif;
}

.input-forms input, .input-forms select{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #959ba1;
    width: 246px;
    padding: 30px 0 20px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #555963;
    outline: none;

}

.input-forms select{
    -webkit-appearance: none;
    background: url("/bookworm_Larisa/img/Shape.svg") no-repeat right;
}

.personal-data div{
    float: left;
    position: relative;
    width: 20%;
    padding-right: 35px;
}

.address{
    width: 50%;
    float: left;
    position: relative;

}

.address div input{
    width: 507px;
}

.man-woman{
    width: 46%;
    margin: 0;
    float: left;
    padding-top: 30px;
}

.shipping-method{
    margin-top: 65px;
    margin-bottom: 71px;
}

.shipping{
    color: #45474b;
    font-size: 21px;
    font-family: 'Ramaraja', serif;
}

.ups{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
}

#ups_saver, #ups_express{
    margin-left: 44px;
}

.right span{
    color: #45474b;
    font-size: 20px;
    font-family: 'Yrsa', serif;
    font-weight: 600;
    margin-left: 20px;
}

.ccount-left{
    margin-left: 830px;
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
}

.payment{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 20px;
}

.payment img{
    margin-left: 20px;
}

.payment-methods{
    margin-bottom: 163px;
}

.proceed-payment{
    border-top: 1px solid #dadadb;
    padding-top: 85px;
    margin-bottom: 121px;
}

.proceed-payment>div{
    width: 49%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.coupon-code input{
    font-family: 'Lato-regular', sans-serif;
    font-size: 15px;
    color: #959ba1;
    width: 256px;
    height: 19px;
    padding: 0;
    border-left: 0;
    border-right: 1px solid #555963;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    outline: none;
}
.coupon-code button{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
    width: 98px;
    height: 19px;
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;
    background-color: white;
}

.coupon-code button img{
    margin-left: 10px;
}

.coupon-code{
    width: 360px;
    border-bottom: 1px solid #555963;
    padding-bottom: 14px;
}

.content2{
    color: #555963;
    font-size: 19px;
    font-family: 'Yrsa', serif;
    width: 360px;
    margin-top: 41px;
}

.table-input{
    width: 50%;
    display: inline-block;
}

.button-payment{
    width: 50%;
    float: right;
    text-align: -webkit-right;

}

.button-payment button{
    font-family: 'Lato-semibold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #45474b;
    background-color: white;
    border: 2px solid black;
    padding: 13px 23px 13px 23px;
    margin-top: 70px;
}

.conditions label{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    color: #45474b;
}

.conditions label a{
    font-family: 'Amiri', serif;
    font-size: 16px;
    color: #dd9327;
    text-decoration: underline;
}

.conditions{
    margin-bottom: 28px;
}

.td-text{
    color: #45474b;
    font-size: 21px;
    font-family: 'Ramaraja', serif;
    padding-top: 4px;
}
.total{
    color: #45474b;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Ramaraja', serif;
    padding-top: 4px;
}

.td-digits{
    color: #555963;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Yrsa', serif;
    padding-left: 10px;
}
.td-max-digits{
    color: #555963;
    font-size: 31px;
    font-family: 'Yrsa', serif;
    font-weight: 500;
    padding: 0 0 0 10px;
}

/* end yourCart*/

/*start footer*/

.background-footer{
    background-color: #f5fdff;
}

.footer{
    width: 1140px;
    margin: auto;
    padding: 0;
}

.footer-menu{
    vertical-align: top;
    padding: 44px 0 44px 0;
    width: 1140px;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato-bold', sans-serif;
    font-weight: bold;
    color: #45474b;
    border-bottom: 1px solid #555963;
}

.footer-menu a{
    margin-right: 47px;
}

.footer-body .about{
    width: 56%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.about, .stay-touch{
    padding-top: 100px;
}

.footer-body h2{
    color: #555963;
    font-size: 28px;
    font-family: 'Ramaraja', serif;
}

.footer-body h3{
    color: #555963;
    font-size: 21px;
    font-family: 'Ramaraja', serif;
}
.footer-body{
   margin-bottom: 120px;
}

.about-text{
    color: #555963;
    font-size: 19px;
    font-family: 'Yrsa', serif;
}

.stay-touch{
    padding-left: 130px;
    width: 30%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.social-media a{
    margin-right: 20px;
}

.your-mail{
    width: 350px;
    border-bottom: 1px solid #555963;
    padding-bottom: 14px;
    margin-bottom: 84px;

}

.your-mail input{
    font-family: 'Lato-regular', sans-serif;
    font-size: 15px;
    color: #959ba1;
    width: 220px;
    height: 19px;
    padding: 0;
    border-left: 0;
    border-right: 1px solid #555963;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    outline: none;
    background-color: #f5fdff;
}

.your-mail button{
    font-family: 'Lato-regular', sans-serif;
    font-weight: 600px;
    font-size: 16px;
    color: #45474b;
    width: 119px;
    height: 19px;
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;
    background-color: #f5fdff;
}

.your-mail button img{
    padding-left: 10px;
}

.ade-books div{
    float: left;
    position: relative;
    width: 25%;
    padding-right: 45px;
}
.ade-books div:nth-child(3n+3){
     padding-right: 0;
}



.ade-books span{
    font-family: 'Lato-regular', sans-serif;
    font-size: 14px;
    color: #4f6569;
}
.ade-books {
    margin-top: 50px;
}

.end-bookworm{
    font-family: 'Lato-regular', sans-serif;
    font-size: 15px;
    color: #555963;
    padding-bottom: 70px;

}
.end-bookworm:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 74%;
    height: 1px;
    background: #d2d9db;
    border: solid #FFF;
    border-width: 0 10px;
}

/*end footer*/


/*start blog*/

.blog{
    width: 1140px;
    margin: auto;
    padding: 0;
}

.blog-text{
    width: 765px;
    margin: auto;
    padding: 0;
}

.clause{
    padding-top: 176px;
    font-family: 'Lato-regular', sans-serif;
    font-weight: 600px;
    font-size: 16px;
    color: #45474b;
    padding-bottom: 12px;
    border-bottom: 1px solid #555963;
    width: 70px;
}

.clause a img{
    padding-left: 15px;
    width: 15px;
}

.singl-post-header h1{
    color: #555963;
    font-size: 57px;
    font-family: 'Ramaraja', serif;
    font-weight: normal;
}

.name{
    color: #eaad54;
    font-size: 18px;
    font-family: 'Amiri', serif;
    font-weight: normal;
    width: 159px;
    border-right: 1px solid #cccdd0;
}
.data{
    color: #a8a8a8;
    font-size: 13px;
    font-family: 'Lato-regular', sans-serif;
    font-weight: normal;
    width: 159px;
    padding-left: 12px;
}

.post-auto{
    width: 100%;
    padding-bottom: 24px;
    padding-top: 27px;
    border-bottom: 1px solid #e5e6e7;
    border-top: 1px solid #e5e6e7;
    margin-bottom: 75px;
}

.add-go{
    width: 50%;
    float: right;
    text-align: -webkit-right;
}
.add-go a{
    padding-left: 20px;
}

.featured-img{
    margin-left: 0;
    margin-right: 0;
}

.featured-img img{
    width: 100%;
}

.featured-img figcaption{
    color: #a8a8a8;
    font-size: 14px;
    font-family: 'Lato-regular', sans-serif;
    padding-top: 28px;
    padding-bottom: 78px;
}

.text-yrsa{
    color: #555963;
    font-size: 23px;
    font-family: 'Yrsa', serif;
}

.link-design{
    color: #efa63b;
}

.post-content blockquote{
    color: #555963;
    font-size: 20px;
    font-family: "Myriad";
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
    margin-top: 49px;
    margin-bottom: 53px;
}

.post-content h2{
    color: #555963;
    font-size: 42px;
    font-family: 'Ramaraja', serif;
    font-weight: 600;
    margin-top: 72px;
    margin-bottom: 40px;

}

.align-right{
    float: right;
    margin: 7px 0 7px 7px;
}

.blog-text hr{
    margin-top: 54px;
    margin-bottom: 54px;
}

.small{
    margin-bottom: 115px;
}

.mich{
    margin-top: 21px;
    margin-bottom: 50px;
}

.shakespare{
    color: #555963;
    font-size: 28px;
    font-family: 'Ramaraja', serif;
    font-weight: 600;
    margin-bottom: 23px;
}

.start{
    color: #555963;
    font-size: 24px;
    font-family: 'Ramaraja', serif;
    margin-top: 44px;
    margin-bottom: 48px;
}

.blog-text li{
    margin-bottom: 50px;
}

.blog-text ol{
    padding-left: 18px;
}

.featured-imadg{
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.blog-text figcaption{
    color: #a8a8a8;
    font-size: 14px;
    font-family: 'Lato-regular', sans-serif;
    padding-top: 32px;
    padding-bottom: 56px;
}

.read{
    padding: 51px 42px 46px 32px;
}

.align-left{
    float: left;
    margin: 7px 0 7px 7px;
}

.most-incredible{
    color: #555963;
    font-size: 21px;
    font-family: 'Ramaraja', serif;
    margin: 0;
    padding: 0;
    width: 330px;
}

.day-worthy{
    color: #555963;
    font-size: 15px;
    font-family: 'Lato-regular', sans-serif;
    width: 330px;
    Display:block
}










/*end blog*/










/* start yourCart2*/
/* todo Не соблюдены отступы между элементвами, не отображаются шрифты */
.table-yourcart2{
    width: 100%;
    border-collapse: collapse;
    margin-top: 80px;
}

.table-yourcart2 tr td:nth-child(3){
    width: 18%;
}

.table-yourcart2 tr td:nth-child(4){
    width: 24%;
}

.tr-product td{
    border: 10px solid #ffffff;
    border-right: 2px #f5fdff;
    border-left: 2px #f5fdff;

}

.td-img-left{
    padding-left: 26px;
}

.td-img-product{
    padding-right: 19px;
    width: 1%;
}

.text-product-yourcart2{
    vertical-align: sub;
    padding-top: 16px;
}

.tr-product{
    background: #f5fdff;
    height: 144px;

}

.th-yourcart2{
    color: #555963;
    font-size: 18px;
    font-family: 'Ramaraja', serif;
    text-align: left;
}

.td-product-yourcart2{
    color: #45474b;
    font-size: 19px;
    font-family: 'Ramaraja', serif;
    width: 50%;
    line-height: 1.5;
}

.td-product-red-yourcart2{
    color: #dd9327;
    font-size: 15px;
    font-family: 'Amiri', serif;
    font-weight: normal;
}

.td-format-language{
    color: #555963;
    font-size: 15px;
    font-family: 'Lato-regular', sans-serif;
}

.td-price{
    color: #555963;
    font-size: 25px;
    font-family: 'Yrsa', serif;
    font-weight: 500;
}

.register{
    width: 70px;
    height: 21px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
    border: 0;
    background: #f5fdff;
}

.minus{
    vertical-align: super;
    padding-right: 10px;
}

.plus{
    vertical-align: text-bottom;

}

.proceed-payment-yourcart2{
    padding-top: 85px;
    margin-bottom: 121px;
}

.proceed-payment-yourcart2>div{
    width: 49%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.button-checkout{
    width: 50%;
    float: right;
    text-align: -webkit-right;
}

.button-checkout button{
    font-family: "Myriad";
    font-size: 16px;
    font-weight: 600;
    color: #45474b;
    background-color: white;
    border: 2px solid black;
    padding: 13px 23px 13px 23px;
    margin-top: 30px;
    width: 187px;
    height: 42px;
}

/* end yourCart2*/

















@media screen and (max-width: 1200px) {

    .personal-data div {
        float: left;
        position: relative;
        width: 40%;
        padding-right: 35px;
    }
}

@media screen and (max-width: 992px) {
    .wide-page {
        width: 1200px;
    }
    .personal-data div {
        float: left;
        position: relative;
        width: 100%;
        padding-right: 35px;
    }
}

@media screen and (max-width: 768px) {

}





